/* Shift the "Hello <user>" and "Log out" links back to the right. */
#navbar .toolbar-menu,
#toolbar .toolbar-menu {
  padding-right: 10px;
}

/* Have both the shortcuts and their "Edit shortcuts" link on the right. */
#navbar .toolbar-shortcuts,
#navbar #edit-shortcuts,
#toolbar .toolbar-shortcuts,
#toolbar #edit-shortcuts {
  float: right;
}
#navbar .toolbar-shortcuts.toolbar-edit-toggle,
#toolbar .toolbar-shortcuts.toolbar-edit-toggle {
  float: left;
}
#navbar #edit-shortcuts,
#toolbar #edit-shortcuts {
  margin-left: 15px;
  font-size: 80%;
}
